@use "styles/variables" as *;
@use "styles/mixins";

// EditorContainer
.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}
.content {
  background: var(--bg);
  width: min(90vw, 800px);
  padding: 16px;
  border-radius: $radius-card;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

// Editor
.titleRow {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin-top: 0;
}
.closeIcon {
  font-size: 20px;

  @include mixins.button;
}

.metaFields {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.yearBox {
  min-width: 4rem;
}
.topicBox {
  min-width: 9rem;
}
.tagsBox {
  flex: 1;
}
.label {
  @include mixins.label;
}

.contentField,
.solutionField {
  display: flex;
  flex-direction: column;
}

// controls
.control {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.btnEmpty,
.btnSave {
  padding: 0.6rem 1rem;
  border-radius: $radius-item;
  font-weight: 600;
}
.btnEmpty {
  @include mixins.button;
}
.btnSave {
  @include mixins.button-fill("primary");

  display: flex;
  gap: 0.6rem;
  align-items: center;

  & svg {
    scale: 1.5;
  }
}
