@use "styles/variables" as *;
@use "styles/mixins";

// root
.root {
  width: 100%;

  background-color: var(--bg);
  border-radius: $radius-card;
  box-shadow: $shadow-xs;

  display: flex;
  flex-direction: column;
}

// control panel
.panel {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;

  @include mixins.border-subtle($loc: "bottom");
}

.controlSelected {
  display: flex;
  gap: 4px;
  align-items: baseline;
  span {
    @include mixins.text("gray");
  }
  button {
    display: inline;
    background-color: transparent;
    border: none;

    @include mixins.text("primary");
    @include mixins.text-ia("primary");
    &:hover {
      text-decoration: underline;
    }
  }
}
.count {
  margin-left: auto;
  @include mixins.text("gray");
}
.controlSort {
  width: 9rem;
  flex-shrink: 0;
}

// list of questions
.questions {
  padding: 0 16px;

  display: grid;
}
.question {
  padding: 16px 0;

  &:not(:first-of-type) {
    @include mixins.border-subtle($loc: "top");
  }

  display: grid;
  grid-template-columns: 1.5em 1fr 4em;
  grid-template-rows: auto;
  grid-template-areas:
    "checkbox badges  icons"
    ".        content .";
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 12px;
}

.questionCheckbox {
  grid-area: checkbox;
}
.questionBadges {
  grid-area: badges;

  display: flex;
  gap: 8px;

  div {
    display: flex;
  }
}
.yearBadge,
.topicBadge,
.tagBadge {
  padding: 4px 8px;
  font-weight: 700;
  font-size: $size-xs;
}
.yearBadge {
  padding: 4px;
  background-color: var(--gray8);
}
.topicBadge {
  text-transform: uppercase;
}
.tagBadge {
  border-radius: 1em;

  background-color: var(--gray3);
  color: var(--gray11);
}

.questionContent {
  grid-area: content;
}
.questionIcons {
  grid-area: icons;

  display: flex;
  gap: 4px;

  button {
    border: none;
    border-radius: 4px;

    @include mixins.button("gray");
  }
}
