@use "styles/variables" as *;

// root
.root {
  width: 100%;

  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: $shadow-xs;

  display: flex;
  flex-direction: column;
}

// control panel
.panel {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;

  border-bottom: 1px solid var(--gray6);
}

.controlSelected {
  display: flex;
  gap: 4px;
  align-items: baseline;
  span {
    color: var(--gray11);
  }
  button {
    display: inline;
    background-color: transparent;
    border: none;
    color: var(--primary11);

    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: var(--primary12);
    }
  }
}
.count {
  margin-left: auto;
  color: var(--gray11);
}
.controlSort {
  width: 9rem;
  flex-shrink: 0;
}

// list of questions
.questions {
  padding: 0 16px;

  display: grid;
}
.question {
  padding: 16px 0;

  &:not(:first-of-type) {
    border-top: 1px solid var(--gray7);
  }

  display: grid;
  grid-template-columns: 1.5em 1fr 4em;
  grid-template-rows: auto;
  grid-template-areas:
    "checkbox badges  icons"
    ".        content .";
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 12px;
}

.questionCheckbox {
  grid-area: checkbox;
}
.questionBadges {
  grid-area: badges;

  display: flex;
  gap: 8px;

  div {
    display: flex;
  }
}
.yearBadge,
.topicBadge,
.tagBadge {
  padding: 4px;
  font-weight: 700;
  font-size: $size-xs;
}
.yearBadge {
  background-color: var(--gray8);
}
.topicBadge {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.tagBadge {
  padding: 4px 8px;
  border-radius: 1em;

  background-color: var(--gray3);
  color: var(--gray11);
}

.questionContent {
  grid-area: content;
}
.questionIcons {
  grid-area: icons;

  display: flex;
  gap: 4px;

  button {
    border: none;
    border-radius: 4px;
    color: var(--gray11);

    &:hover {
      color: var(--text);
      background-color: var(--gray4);
    }
    &:active {
      background-color: var(--gray5);
    }
  }
}
