@use "styles/variables" as *;
@use "styles/mixins";

.root {
  width: 100%;
  padding: 16px;
  padding-top: 24px;

  background-color: var(--bg);
  border-radius: $radius-card;
  box-shadow: $shadow-xs;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

// inputs
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.yearBox {
  min-width: 4rem;
}
.topicBox {
  min-width: 9rem;
}
.tagsBox {
  flex: 1;
}
.textBox {
  width: 100%;
}

// button controls
.buttons {
  display: flex;
  gap: 12px;
}
.btnSearch,
.btnReset,
.btnNew {
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-weight: 600;

  display: flex;
  gap: 0.6rem;
  align-items: center;

  & svg {
    scale: 1.5;
  }
}
.btnSearch {
  @include mixins.button-fill("primary");
}
.btnReset {
  @include mixins.button("gray");
}
.btnNew {
  margin-left: auto;

  @include mixins.border("green");
  @include mixins.border-ia("green");
  @include mixins.button("green");
}
