.editor {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "control control"
    "write preview";

  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-4);
}
.editor-control {
  display: none;
  grid-area: control;
  z-index: 1;

  padding: 0 1rem 6px 1rem;
  border-bottom: 1px solid var(--mantine-color-gray-4);

  box-shadow: var(--mantine-shadow-xs);
}
.editor:focus-within .editor-control,
.editor:active .editor-control {
  display: flex;
}
.editor-write {
  grid-area: write;
  overflow-y: scroll;

  border: none;
  border-right: 1px solid var(--mantine-color-gray-4);
  font-family: monospace;
  padding: 1rem 0.5rem;

  box-shadow: none;
  outline: none;
  resize: none;
  &:focus {
    outline-color: var(--mantine-color-blue-4);
  }
}
.editor-preview {
  grid-area: preview;
  overflow-y: scroll;

  padding: 0 1rem;
  background-color: var(--mantine-color-gray-1);
}

.md-preview {
  background-color: var(--mantine-color-gray-1);
  border: 1px solid var(--mantine-color-gray-4);
}
