.app-container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;

  padding: var(--mantine-spacing-sm) var(--mantine-spacing-xl);
  box-shadow: var(--mantine-shadow-xs);
  background-color: var(--mantine-color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}
.header-title {
  font-size: var(--mantine-h2-font-size);
  font-weight: bold;
}

.footer {
  padding: var(--mantine-spacing-sm);

  color: var(--mantine-color-gray-6);
  text-align: center;
}

.page-wrap {
  flex-grow: 1;
  padding: var(--mantine-spacing-sm);
  margin: auto;
}
