@use "styles/variables" as *;
@use "styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.label {
  font-size: $size-sm;
  font-weight: 600;
}
.inputWrapper {
  width: 100%;
  height: 2.25rem;
  padding: 0 16px;

  @include mixins.border;
  border-radius: $radius-item;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: var(--bg);

  &:focus-within {
    outline: 3px solid var(--primary8);
  }
}
.input {
  display: block;
  flex: 1;
  padding: 4px 0;
  line-height: 1em;
  text-align: left;

  cursor: text;

  border: none;
  @include mixins.no-focus;
}
.clearIcon {
  translate: 8px;

  border: none;
  border-radius: 4px;
  color: var(--gray11);

  @include mixins.button;
  background-color: transparent;
  @include mixins.no-focus;
}
