@use "styles/variables" as *;
@use "styles/mixins";

// visible components
.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.label {
  font-size: $size-sm;
  font-weight: 600;
}
.comboboxWrapper {
  position: relative;
}
.trigger {
  width: 100%;
  padding: 0 16px;

  @include mixins.border;
  border-radius: $radius-item;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: var(--bg);

  @include mixins.focus-within;
}

.selectedItem {
  font-size: $size-xs;
  text-transform: uppercase;
  font-weight: 600;

  display: flex;
  padding: 4px 0.5rem;
  margin: 6px 0;
  gap: 2px;
  border-radius: 0.25rem;

  @include mixins.button;
  @include mixins.no-focus;
}

.inputWrapper {
  flex: 1;
  flex-wrap: wrap;
  align-items: center;

  display: flex;
  gap: 4px;
}
.input {
  display: block;
  flex: 1;
  height: 1em;
  width: min-content;
  padding: 16px 0;
  text-align: left;

  cursor: text;

  border: none;
  @include mixins.no-focus;
}
.selectIcon {
  translate: 8px;

  cursor: pointer;
}
.emptyIcon {
  background-color: transparent;
  border: none;

  @include mixins.button;
  @include mixins.no-focus;
}
.selectIcon,
.emptyIcon {
  border-radius: $radius-item;
}

// content list
.options {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0;

  background-color: var(--bg);
  @include mixins.border;
  border-radius: $radius-item;
  box-shadow: $shadow-sm;
}
.item,
.itemEmpty {
  height: 2rem;
  padding: 8px 1rem;
  display: flex;
  align-items: center;
}
.item {
  @include mixins.no-focus;
  @include mixins.bg-ia(primary);
}
.itemEmpty {
  font-style: italic;
  color: var(--gray10);
}
