@use "styles/variables" as *;
@use "styles/mixins";

$border-radius: 4px;

.root {
  width: 1.25em;
  height: 1.25em;

  color: var(--bg);
  border-radius: $border-radius;

  display: flex;
  place-items: center;

  background-color: transparent;
  @include mixins.bg-ia();

  &[data-state="checked"],
  &[data-state="indeterminate"] {
    @include mixins.bg-fill("primary");
    @include mixins.bg-fill-ia("primary");
  }
  &[data-disabled],
  &[data-disabled]:hover {
    background-color: var(--gray3);
    color: var(--gray11);
  }
}
