@use "styles/variables" as *;
@use "styles/mixins";

// visible components
.root {
  display: flex;
  flex-direction: column;
}
.label {
  @include mixins.label;
}
.trigger {
  width: 100%;
  padding: 9px 16px;
  border-radius: $radius-item;

  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
}
.selectIcon {
  translate: 8px;
}

// content list
.options {
  background-color: var(--bg);

  @include mixins.border();
  border-radius: $radius-item;
  box-shadow: $shadow-md;
}
.item {
  height: 2rem;
  padding: 8px 1rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:focus {
    outline: none;
    background-color: var(--primary4);
  }

  &[data-state="checked"] {
    color: var(--primary11);
    font-weight: 600;
  }
}
.checkedIcon {
  translate: 8px;
}
