.app-container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--sm) var(--xl);

  background-color: var(--mantine-color-gray-1);
  box-shadow: var(--mantine-shadow-xs);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--md);
}
.header-title {
  font-size: var(--mantine-h2-font-size);
  font-weight: bold;
}

.footer {
  padding: var(--sm);

  color: var(--mantine-color-gray-6);
  text-align: center;
}

.child-wrap {
  flex-grow: 1;
  padding: var(--sm);
  padding-top: 0;
  margin: auto;

  display: flex;
}
