.q-container {
  width: min(90vw, 1150px);

  display: grid;
  grid-template-columns: minmax(min-content, 250px) minmax(500px, 1fr);
  column-gap: var(--md);

  background-color: var(--bg-behind);
}

.main {
  padding-top: var(--xl);
  box-shadow: 0 0 0 100vmax var(--bg-behind);
  clip-path: inset(0 -100vmax 0 0);
}

.navbar-container {
  background-color: var(--mantine-color-white);
  border-right: var(--border-thick);
}
.navbar {
  position: sticky;
  top: 88px;
}
.navbar-link {
  border-left: var(--border-default);

  &[data-active] {
    border-left: var(--border-primary);
    font-weight: 600;
  }
}

/* sidebar is not ready yet */
.sidebar {
  display: none;
}
