/* avoid flickering for dark mode */
html {
  background-color: var(--mantine-color-dark-7);
}

/* the app fills the screen */
#__next {
  width: 100%;
  min-height: 100vh;
  isolation: isolate;
}

/* reused variables */
@import "./variables.css";
